@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #34495e;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

a {
    color: #95a5a6;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    text-decoration: blink;
}

form, ul {
    margin: 0 auto;
    margin-top: 10%;
    background: white;
    list-style: none;
    text-align: center;
    padding: 1.5em 1em;
    border: none;
    border-radius: 6px;
    width: 80%;
}

li {
    padding: 1em;
    font-size: x-large;
}

input, select, button {
    font-family: inherit;
    font-size: larger;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 45px;
}

input {
    background: #ecf0f1;
    padding-left: 1em;
    margin: 0 0.5em;
}

button {
    background: #3498db;
    color: white;
    width: 10%;
    margin: 0 0.5em;
}

.results li{
    border-bottom: 1px solid #eee;
    padding: 0.5em 1em;
    font-size: medium;
    text-align: justify;
}

.results a{
     color: black!important;
}
